/**********
 * button *
 **********/
 
.button,
.inline-toolbar.toolbar .button {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: @button_border;
    box-shadow: inset 0 1px alpha(@button_shadow, 1),
                inset 0 -1px alpha(@button_shadow, 0.0),
                inset 1px 0 alpha(@button_shadow, 0.6),
                inset -1px 0 alpha(@button_shadow, 0.6);
}

.button:active,
.inline-toolbar.toolbar .button:active {
    box-shadow: inset 0 1px alpha(@button_border, 0.3),
                inset 1px 0 alpha(@button_border, 0.15),
                inset -1px 0 alpha(@button_border, 0.15),
                inset 0 -1px alpha(@button_border, 0.06);
}

.button:insensitive,
.inline-toolbar.toolbar .button:insensitive {
    border-color: alpha(@button_border, 0.7);
    box-shadow: inset 0 1px alpha(@button_shadow, .5),
                inset 0 -1px alpha(@button_shadow, 0.0),
                inset 1px 0 alpha(@button_shadow, 0.3),
                inset -1px 0 alpha(@button_shadow, 0.3);
}

.button:insensitive:active,
.inline-toolbar.toolbar .button:insensitive:active {
    border-color: alpha(@button_border, 0.7);
    box-shadow: inset 0 1px alpha(@button_shadow, .5),
                inset 0 -1px alpha(@button_shadow, 0.0),
                inset 1px 0 alpha(@button_shadow, 0.3),
                inset -1px 0 alpha(@button_shadow, 0.3);
}


/**************************
* Primary toolbar buttons *
**************************/

.primary-toolbar .button.raised,
.primary-toolbar .button.raised:hover,
.primary-toolbar .raised .button,
.primary-toolbar .raised .button:hover,
.primary-toolbar GtkComboBox .button {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: @button_border;
    box-shadow: inset 0 1px alpha(@button_shadow, 1),
                inset 0 -1px alpha(@button_shadow, 0.0),
                inset 1px 0 alpha(@button_shadow, 0.6),
                inset -1px 0 alpha(@button_shadow, 0.6);
}

.primary-toolbar .button:active,
.primary-toolbar .button:active:hover,
.primary-toolbar .button.raised:active,
.primary-toolbar .raised .button:active {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: @button_border;
    box-shadow: inset 0 1px alpha(@button_border, 0.3),
                inset 1px 0 alpha(@button_border, 0.15),
                inset -1px 0 alpha(@button_border, 0.15),
                inset 0 -1px alpha(@button_border, 0.06);
}

.primary-toolbar .button.raised:insensitive,
.primary-toolbar .raised .button:insensitive,
.primary-toolbar GtkComboBox .button:insensitive {
    border-color: alpha(@button_border, 0.7);
    box-shadow: inset 0 1px alpha(@button_shadow, .5),
                inset 0 -1px alpha(@button_shadow, 0.0),
                inset 1px 0 alpha(@button_shadow, 0.3),
                inset -1px 0 alpha(@button_shadow, 0.3);
}

.primary-toolbar .button,
.primary-toolbar .button:insensitive {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: transparent;
    border-image: none;
    box-shadow: none;
}

.primary-toolbar .button:hover {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: @button_border;
    box-shadow: inset 0 1px alpha(@button_shadow, 1),
                inset 0 -1px alpha(@button_shadow, 0.0),
                inset 1px 0 alpha(@button_shadow, 0.6),
                inset -1px 0 alpha(@button_shadow, 0.6);
}

.primary-toolbar .button:insensitive:active,
.primary-toolbar .button.raised:insensitive:active,
.primary-toolbar .raised .button:insensitive:active {
    border-color: alpha(@button_border, 0.7);
    box-shadow: inset 0 1px alpha(@button_shadow, .5),
                inset 0 -1px alpha(@button_shadow, 0.0),
                inset 1px 0 alpha(@button_shadow, 0.3),
                inset -1px 0 alpha(@button_shadow, 0.3);
}

/*****************
 * column-header *
 *****************/

column-header.button,
column-header .button,
column-header.button:active,
column-header .button:active,
column-header.button:hover,
column-header .button:hover,
column-header.button:insensitive,
column-header .button:insensitive {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-radius: 0;
    border-color: @border;
    box-shadow: none;
}

column-header.button:last-child,
column-header:last-child .button,
column-header.button:last-child:active,
column-header:last-child .button:active,
column-header.button:last-child:active:hover,
column-header:last-child .button:active:hover {
    border-right-width: 0;
}

/*********
 * entry *
 *********/

.entry,
GtkComboBox.combobox-entry .button {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: @button_border;
    box-shadow: inset 0 1px alpha(@button_border, 0.3),
                inset 1px 0 alpha(@button_border, 0.15),
                inset -1px 0 alpha(@button_border, 0.15),
                inset 0 -1px alpha(@button_border, 0.06);
}

.entry:insensitive {
    border-color: alpha(@button_border, 0.7);
    box-shadow: inset 0 1px alpha(@button_shadow, .5),
                inset 0 -1px alpha(@button_shadow, 0.0),
                inset 1px 0 alpha(@button_shadow, 0.3),
                inset -1px 0 alpha(@button_shadow, 0.3);
}

/************
 * notebook *
 ************/


/*********
 * Scale *
 *********/

.scale.trough {
    border-bottom: 1px solid @button_shadow;
    border-right: 1px solid @button_shadow;
    border-top: 1px solid @theme_bg_color;
    border-left: 1px solid @theme_bg_color;
    border-radius: 3px;
    box-shadow: inset 0 1px alpha(@button_border, 0.8),
                inset 1px 0 alpha(@button_border, 0.8),
                inset -1px 0 alpha(@button_border, 0.8),
                inset 0 -1px alpha(@button_border, 0.8);
}

.scale.trough.vertical {
   border-bottom: 1px solid @button_shadow;
    border-right: 1px solid @button_shadow;
    border-top: 1px solid @theme_bg_color;
    border-left: 1px solid @theme_bg_color;
    border-radius: 3px;
    box-shadow: inset 0 1px alpha(@button_border, 0.8),
                inset 1px 0 alpha(@button_border, 0.8),
                inset -1px 0 alpha(@button_border, 0.8),
                inset 0 -1px alpha(@button_border, 0.8);
}

.scale.trough:insensitive {
    border-color: alpha(@button_border, 0.7);
    box-shadow: inset 0 1px alpha(@button_shadow, .5),
                inset 0 -1px alpha(@button_shadow, 0.0),
                inset 1px 0 alpha(@button_shadow, 0.3),
                inset -1px 0 alpha(@button_shadow, 0.3);
}

.scale.trough.vertical:insensitive {
    border-color: alpha(@button_border, 0.7);
    box-shadow: inset 0 1px alpha(@button_shadow, .5),
                inset 0 -1px alpha(@button_shadow, 0.0),
                inset 1px 0 alpha(@button_shadow, 0.3),
                inset -1px 0 alpha(@button_shadow, 0.3);
}

/**********
 * switch *
 **********/

GtkSwitch.trough {
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: inset 0 1px @button_border,
                inset 1px 0 @button_border,
                inset -1px 0 @button_border,
                inset 0 -1px @button_border,
    			inset 1px 2px alpha(@button_border, 0.3),
                inset 2px 1px alpha(@button_border, 0.15),
                inset -2px -1px alpha(@button_border, 0.15),
                inset -1px -2px alpha(@button_border, 0.06);
}
GtkSwitch.trough:active {
    box-shadow: inset 0 1px @button_border,
                inset 1px 0 @button_border,
                inset -1px 0 @button_border,
                inset 0 -1px @button_border,
    			inset 1px 2px alpha(@scale_fill_shadow, 0.7),
                inset 2px 1px alpha(@scale_fill_shadow, 0.35),
                inset -2px -1px alpha(@scale_fill_shadow, 0.35),
                inset -1px -2px alpha(@scale_fill_shadow, 0.12);
}

GtkSwitch.trough:insensitive,
GtkSwitch.trough:insensitive:active {
    box-shadow: inset 0 1px alpha(@button_border, 0.7),
                inset 1px 0 alpha(@button_border, 0.7),
                inset -1px 0 alpha(@button_border, 0.7),
                inset 0 -1px alpha(@button_border, 0.7);
}

GtkSwitch.slider {
    border: 1px solid @button_border;
    border-radius: 3px;
    box-shadow: inset 0 1px alpha(@button_shadow, 1),
                inset 0 -1px alpha(@button_shadow, 0.0),
                inset 1px 0 alpha(@button_shadow, 0.6),
                inset -1px 0 alpha(@button_shadow, 0.6);
}

GtkSwitch.slider:insensitive {
    border: 1px solid alpha(@button_border, 0.7);
    box-shadow: inset 0 1px alpha(@button_shadow, .5),
                inset 0 -1px alpha(@button_shadow, 0.0),
                inset 1px 0 alpha(@button_shadow, 0.3),
                inset -1px 0 alpha(@button_shadow, 0.3);
}

/******************
 * Linked Entries *
 ******************/

.linked .entry {
    box-shadow: inset -1px 0 @border;   
}

.linked .entry,
.primary-toolbar .linked .entry {
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 0;
    border-image-width: 3px 0 4px 0;
}

.linked .entry:first-child,
.primary-toolbar .linked .entry:first-child {
    border-right-width: 0;
    border-radius: 3px 0 0 3px;
    border-image-width: 3px 0 4px 3px;
}

.linked .entry:last-child,
.primary-toolbar .linked .entry:last-child {
    border-left-width: 0;
    border-radius: 0 3px 3px 0;
    border-image-width: 3px 3px 4px 0;
}

.linked .entry:only-child,
.primary-toolbar .linked .entry:only-child {
    border-right-width: 1px;
    border-left-width: 1px;
    border-radius: 3px;
    border-image-width: 3px 3px 4px 3px;
}
/********************************************
 * Linked borders and shadows - Nomal/Hover *
 ********************************************/

/* Middle Button */

.linked .button,
.linked .button:hover,
.toolbar .button.raised.linked,
.toolbar .raised.linked .button,
.toolbar .button.raised.linked:hover,
.toolbar .raised.linked .button:hover,
.primary-toolbar .linked .button,
.primary-toolbar .linked .button:hover,
.primary-toolbar .button.raised.linked,
.primary-toolbar .raised.linked .button,
.primary-toolbar .button.raised.linked:hover,
.primary-toolbar .raised.linked .button:hover,
.inline-toolbar.toolbar .button,
.inline-toolbar.toolbar .button:hover,
.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar GtkToolButton > .button,
.inline-toolbar.toolbar GtkToolButton > .button:hover,
.inline-toolbar.toolbar GtkToolButton > .button:insensitive {
    border-width: 1px 0 1px 0;
    border-radius: 0px;
    box-shadow: inset 0 1px alpha(@linked_button_shadow, 0.5),
                inset 0 -1px alpha(@linked_button_shadow, 0.1),
                inset -1px 0 alpha(@linked_button_border, 0.2),
                inset 1px 0 alpha(@linked_button_shadow, 0.2);
}

/* Leftmost button */

.linked .button:first-child,
.linked .button:first-child:hover,
.toolbar .button.raised.linked:first-child,
.toolbar .raised.linked .button:first-child,
.toolbar .button.raised.linked:first-child:hover,
.toolbar .raised.linked .button:first-child:hover,
.primary-toolbar .linked .button:first-child,
.primary-toolbar .linked .button:first-child:hover,
.primary-toolbar .button.raised.linked:first-child,
.primary-toolbar .raised.linked .button:first-child,
.primary-toolbar .button.raised.linked:first-child:hover,
.primary-toolbar .raised.linked .button:first-child:hover,
.inline-toolbar.toolbar .button:first-child,
.inline-toolbar.toolbar .button:first-child:hover,
.inline-toolbar.toolbar GtkToolButton:first-child > .button,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:hover {
    border-width: 1px 0 1px 1px;
    border-radius: 3px 0 0 3px;
    box-shadow: inset 0 1px alpha(@linked_button_shadow, 0.5),
                inset 0 -1px alpha(@linked_button_shadow, 0.1),
                inset 1px 0 alpha(@linked_button_shadow, 0.2),
                inset -1px 0 alpha(@linked_button_border, 0.2);
}

/* Rightmost button */

.linked .button:last-child,
.linked .button:last-child:hover,
.toolbar .button.raised.linked:last-child,
.toolbar .raised.linked .button:last-child,
.toolbar .button.raised.linked:last-child:hover,
.toolbar .raised.linked .button:last-child:hover,
.primary-toolbar .linked .button:last-child,
.primary-toolbar .linked .button:last-child:hover,
.primary-toolbar .button.raised.linked:last-child,
.primary-toolbar .raised.linked .button:last-child,
.primary-toolbar .button.raised.linked:last-child:hover,
.primary-toolbar .raised.linked .button:last-child:hover,
.inline-toolbar.toolbar .button:last-child,
.inline-toolbar.toolbar .button:hover:last-child,
.inline-toolbar.toolbar GtkToolButton:last-child > .button,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:hover {
    border-width: 1px 1px 1px 0;
    border-radius: 0 3px 3px 0;
    box-shadow: inset 0 1px alpha(@linked_button_shadow, 0.5),
                inset 0 -1px alpha(@linked_button_shadow, 0.1),
                inset 1px 0 alpha(@linked_button_shadow, 0.2),
                inset -1px 0 alpha(@linked_button_shadow, 0.2);
}

/* Single button */

.linked .button:only-child,
.linked .button:only-child:hover,
.toolbar .button.raised.linked:only-child,
.toolbar .raised.linked .button:only-child,
.toolbar .button.raised.linked:only-child:hover,
.toolbar .raised.linked .button:only-child:hover,
.primary-toolbar .linked .button:only-child,
.primary-toolbar .linked .button:only-child:hover,
.primary-toolbar .button.raised.linked:only-child,
.primary-toolbar .raised.linked .button:only-child,
.primary-toolbar .button.raised.linked:only-child:hover,
.primary-toolbar .raised.linked .button:only-child:hover,
.inline-toolbar.toolbar .button:only-child,
.inline-toolbar.toolbar .button:only-child:hover,
.inline-toolbar.toolbar GtkToolButton:only-child > .button,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:hover {
    border-width: 1px;
    border-radius: 3px;
    box-shadow: inset 0 1px alpha(@linked_button_shadow, 0.5),
                inset 0 -1px alpha(@linked_button_shadow, 0.1),
                inset 1px 0 alpha(@linked_button_shadow, 0.2),
                inset -1px 0 alpha(@linked_button_shadow, 0.2);
}

/*********************************
* Linked Button Borders - Active *
**********************************/

/* Middle button */

.linked .button:active,
.linked .button:active:hover,
.toolbar .button.raised.linked:active,
.toolbar .raised.linked .button:active,
.toolbar .button.raised.linked:active:hover,
.toolbar .raised.linked .button:active:hover,
.primary-toolbar .linked .button:active,
.primary-toolbar .linked .button:active:hover,
.primary-toolbar .button.raised.linked:active,
.primary-toolbar .raised.linked .button:active,
.primary-toolbar .button.raised.linked:active:hover,
.primary-toolbar .raised.linked .button:active:hover,
.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar .button:active:hover,
.inline-toolbar.toolbar GtkToolButton > .button:active,
.inline-toolbar.toolbar GtkToolButton > .button:active:hover {
    border-width: 1px 0 1px 0;
    border-radius: 0px;
    box-shadow: inset 0 1px alpha(@linked_button_border, 0.1),
                inset 0 -1px alpha(@linked_button_border, .06),
                inset 1px 0 alpha(@linked_button_border, 0.2),
                inset -1px 0 alpha(@linked_button_border, 0.2); 
}

/* Leftmost button */

.linked .button:first-child:active,
.linked .button:first-child:active:hover,
.toolbar .button.raised.linked:first-child:active,
.toolbar .raised.linked .button:first-child:active,
.toolbar .button.raised.linked:first-child:active:hover,
.toolbar .raised.linked .button:first-child:active:hover,
.primary-toolbar .linked .button:first-child:active,
.primary-toolbar .linked .button:first-child:active:hover,
.primary-toolbar .button.raised.linked:first-child:active,
.primary-toolbar .raised.linked .button:first-child:active,
.primary-toolbar .button.raised.linked:first-child:active:hover,
.primary-toolbar .raised.linked .button:first-child:active:hover,
.inline-toolbar.toolbar .button:first-child:active,
.inline-toolbar.toolbar .button:first-child:active:hover,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:active,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:active:hover {
    border-width: 1px 0 1px 1px;
    border-radius: 3px 0 0 3px;
    box-shadow: inset 0 1px alpha(@linked_button_border, 0.1),
                inset 0 -1px alpha(@linked_button_border, 0.06),
                inset 1px 0 alpha(@linked_button_border, 0.08),
                inset -1px 0 alpha(@linked_button_border, 0.2);   
}

/* Rightmost button */

.linked .button:last-child:active,
.linked .button:last-child:active:hover,
.toolbar .button.raised.linked:last-child:active,
.toolbar .raised.linked .button:last-child:active,
.toolbar .button.raised.linked:last-child:active:hover,
.toolbar .raised.linked .button:last-child:active:hover,
.primary-toolbar .linked .button:last-child:active,
.primary-toolbar .linked .button:last-child:active:hover,
.primary-toolbar .button.raised.linked:last-child:active,
.primary-toolbar .raised.linked .button:last-child:active,
.primary-toolbar .button.raised.linked:last-child:active:hover,
.primary-toolbar .raised.linked .button:last-child:active:hover,
.inline-toolbar.toolbar .button:last-child:active,
.inline-toolbar.toolbar .button:last-child:active:hover,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:active,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:active:hover {
    border-width: 1px 1px 1px 0;
    border-radius: 0 3px 3px 0;
    box-shadow: inset 0 1px alpha(@linked_button_border, 0.1),
                inset 0 -1px alpha(@linked_button_border, 0.06),
                inset 1px 0 alpha(@linked_button_border, 0.2),
                inset -1px 0 alpha(@linked_button_border, 0.08);
}

/* Single button */

.linked .button:only-child:active,
.linked .button:only-child:active:hover,
.toolbar .button.raised.linked:only-child:active,
.toolbar .raised.linked .button:only-child:active,
.toolbar .button.raised.linked:only-child:active:hover,
.toolbar .raised.linked .button:only-child:active:hover,
.primary-toolbar .linked .button:only-child:active,
.primary-toolbar .linked .button:only-child:active:hover,
.primary-toolbar .button.raised.linked:only-child:active,
.primary-toolbar .raised.linked .button:only-child:active,
.primary-toolbar .button.raised.linked:only-child:active:hover,
.primary-toolbar .raised.linked .button:only-child:active:hover,
.inline-toolbar.toolbar .button:only-child:active,
.inline-toolbar.toolbar .button:only-child:active:hover,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:active,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:active:hover {
    /*box-shadow: inset 0 1px alpha(@linked_button_border, 0.1),
                inset 0 -1px alpha(@linked_button_border, 0.6),
                inset 1px 0 alpha(@linked_button_border, 0.8),
                inset -1px 0 alpha(@linked_button_border, 0.8);*/
}

/********************************************
 * Linked borders and shadows - Insensitive *
 ********************************************/

/* Middle Button */

.linked .button:insensitive,
.toolbar .button.raised.linked:insensitive,
.toolbar .raised.linked .button:insensitive,
.primary-toolbar .linked .button:insensitive,
.primary-toolbar .button.raised.linked:insensitive,
.primary-toolbar .raised.linked .button:insensitive,
.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar GtkToolButton > .button:insensitive {
    border-width: 1px 0 1px 0;
    border-radius: 0px;
    box-shadow: inset 0 1px alpha(@linked_button_shadow, 0.3),
                inset 0 -1px alpha(@linked_button_shadow, 0.06),
                inset -1px 0 alpha(@linked_button_border, 0.2),
                inset 1px 0 alpha(@linked_button_shadow, 0.15);
}

/* Leftmost button */

.linked .button:first-child:insensitive,
.toolbar .button.raised.linked:first-child:insensitive,
.toolbar .raised.linked .button:first-child:insensitive,
.primary-toolbar .linked .button:first-child:insensitive,
.primary-toolbar .button.raised.linked:first-child:insensitive,
.primary-toolbar .raised.linked .button:first-child:insensitive, 
.inline-toolbar.toolbar .button:first-child:insensitive,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:insensitive {
    border-width: 1px 0 1px 1px;
    border-radius: 3px 0 0 3px;
    box-shadow: inset 0 1px alpha(@linked_button_shadow, 0.3),
                inset 0 -1px alpha(@linked_button_shadow, 0.06),
                inset 1px 0 alpha(@linked_button_shadow, 0.15),
                inset -1px 0 alpha(@linked_button_border, 0.2);
}

/* Rightmost button */

.linked .button:last-child:insensitive,
.toolbar .button.raised.linked:last-child:insensitive,
.toolbar .raised.linked .button:last-child:insensitive,
.primary-toolbar .linked .button:last-child:insensitive,
.primary-toolbar .button.raised.linked:last-child:insensitive,
.primary-toolbar .raised.linked .button:last-child:insensitive, 
.inline-toolbar.toolbar .button:last-child:insensitive,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:insensitive {
    border-width: 1px 1px 1px 0;
    border-radius: 0 3px 3px 0;
    box-shadow: inset 0 1px alpha(@linked_button_shadow, 0.3),
                inset 0 -1px alpha(@linked_button_shadow, 0.06),
                inset 1px 0 alpha(@linked_button_shadow, 0.15),
                inset -1px 0 alpha(@linked_button_shadow, 0.15);
}

/* Single button */

.linked .button:only-child:insensitive,
.toolbar .button.raised.linked:only-child:insensitive,
.toolbar .raised.linked .button:only-child:insensitive,
.primary-toolbar .linked .button:only-child:insensitive,
.primary-toolbar .button.raised.linked:only-child:insensitive,
.primary-toolbar .raised.linked .button:only-child:insensitive, 
.inline-toolbar.toolbar .button:only-child:insensitive,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:insensitive {
    box-shadow: inset 0 1px alpha(@linked_button_shadow, 0.3),
                inset 0 -1px alpha(@linked_button_shadow, 0.06),
                inset 1px 0 alpha(@linked_button_shadow, 0.15),
                inset -1px 0 alpha(@linked_button_shadow, 0.15);
}
